ANALYZED_PROJECT_PATH=/home/gtrofimov/parasoft/git/parabank
JTEST_STATIC_BASE_REPORT=/home/gtrofimov/parasoft/git/parabank/report/baseline/report.xml
JTEST_STATIC_BASE_COVERAGE=/home/gtrofimov/parasoft/git/parabank/report/baseline/coverage.xml
JTEST_UTA_NO_OF_MAX_FIXES=3
JTEST_REFERENCE_BRANCH=master